.newsletter {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 100px;
  margin-top: 50px;
  margin-bottom: 100px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  gap: 30px;
}
.newsletter h1 {
  color: #454545;
  font-size: 50px;
  font-weight: 600;
}
.newsletter p {
  color: #454545;
  font-size: 22px;
}
.newsletter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 650px;
  height: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid #e3e3e3;
}
.newsletter input {
  width: 450px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-size: 20px;
}
.newsletter button {
  width: 180px;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
