.item {
  width: 300px;
}
.item img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 300px;
  height: 290px;
}
.item p {
  margin: 6px 0px;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600px;
}
.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500px;
  text-decoration: line-through;
}
.item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
