* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo img {
  height: 45px;
}
.navbar-logo p {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 1rem;
  margin-left: 1rem;
}
.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}
.links ul li {
  font-weight: bold;
  color: gray;
  list-style: none;
  margin-right: 20px;
  position: relative;
}

.links ul li::before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info button {
  /* border: 2px solid gray; */
  color: gray;
  height: 35px;
  margin-top: 0.1rem;
  width: 8rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.info button span {
  margin-bottom: 0.6rem;
}
.info button:hover {
  border: 2px solid gray;
  color: gray;
}
.info img {
  margin-left: 1.5rem;
  height: 35px;
}
hr {
  margin-top: -0.1rem;
  height: 2px;
  color: gray;
}
.Navbar a {
  text-decoration: none;
  color: gray;
  position: relative;
}
.count {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: red;
  right: -7px;
  top: -5px;
  text-align: center;
  padding-bottom: 5px;
  color: black;
}
