.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo p {
  color: #2e2e2e;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 600;
}
.footer-links {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.footer-social-media {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
.footer-copyright {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #2e2e2e;
}
.footer-copyright hr {
  height: 2px;
  font-weight: 600;
}
